@page "/"

<div style="width: 100%;height: 100vh;">
    <div class="d-flex align-items-center justify-content-center; width:640px; height:480px">
        <img src="/images/TVEffect.png" width="640" ; height="480" />
    </div>
</div>
