@page "/"
@using System.Diagnostics
@using ZXSinclair.Perform;

<p>Frecuecia: @Stopwatch.Frequency tics/seg</p>
<p>HighResolution: @Stopwatch.IsHighResolution</p>

<button @onclick="Tests_Click">Test</button>
<br />
@testsResult

@code
{
    string testsResult;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Tests.WriteTest = t => testsResult += t + "<br />";
    }

    //protected override bool ShouldRender() => false;

    void Tests_Click()
    {
        Task.Factory.StartNew
        (
            () =>
            {
                testsResult = "";

                Tests.Run();

                StateHasChanged();
            }
        );
    }
}
